* {
  box-sizing: border-box;
}

body {
  background-color: #2196F3;
}

.calculator {
  background-color: #607D8B;
  width: 100%;
  max-width: 315px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 2px 1px rgba(0,0,0,0.7);
}

#screen {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bdc51+0,4fb242+53,60cc4b+100 */
  background: #6bdc51; /* Old browsers */
  background: -moz-linear-gradient(top,  #6bdc51 0%, #8BC34A 53%, #60cc4b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #6bdc51 0%,#8BC34A 53%,#60cc4b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #6bdc51 0%,#8BC34A 53%,#60cc4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BC34A', endColorstr='#60cc4b',GradientType=0 ); /* IE6-9 */

}

#screenDisplay {
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  text-align: right;
}
#errorMsg {
  font-family: 'Russo One', sans-serif;
}

.buttons {
  background-color: #90A4AE;
  width: 100%;
  height: 325px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* Button Styling */

button {
  width: 50px;
  height: 50px;
  background-color: #F5811F;
  color: white;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
  font-size: 1.5em;
}

button#allclear {
  background-color: #F44336;
}

button#zero,
button#allclear {
  width: 115px;
}

button#one,
button#two,
button#three {
  position: relative;
  left: -32px;
}

button#equals {
  height: 110px;
  position: relative;
  top: -60px;
  left: -1px;
}

button#zero,
button#decimal {
  position: relative;
  top: -30px;
}

.operator {
  background-color: #FF5722;
}

#header {
  font-family: 'Comfortaa', sans-serif;
  color: white;
  text-align: center;
  font-size: 4em;
  margin: 75px 0px;
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
}

#description {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 1.35em;
  line-height: 30px;
  text-align: justify;
  max-width: 75%;
  margin: 0 auto;
  background-color: #FF7043;
  padding: 25px;
  margin-top: 50px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}

#description a {
  text-decoration: none;
  color: #B71C1C;
  transition: color 0.5s ease;
}

#description a:hover {
  color: white;
}



@media (max-width: 450px) {
  #header {
    font-size: 3em;
  }

  #description {
    width: 100%
    line-height: 20px;
  }
}
