* {
  box-sizing: border-box;
}

body {
  background-color: #4CAF50;
}

/* Calc Stuff */

.calculator {
  background-color: #212121;
  width: 100%;
  max-width: 315px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 4px 5px rgba(0,0,0,0.5);
}

#screen {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bdc51+0,4fb242+53,60cc4b+100 */
  background: #6bdc51; /* Old browsers */
  background: -moz-linear-gradient(top,  #6bdc51 0%, #8BC34A 53%, #60cc4b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #6bdc51 0%,#8BC34A 53%,#60cc4b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #6bdc51 0%,#8BC34A 53%,#60cc4b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8BC34A', endColorstr='#60cc4b',GradientType=0 ); /* IE6-9 */

}

#screenDisplay {
  font-family: 'VT323', monospace;
  font-size: 3em;
  text-align: right;
}
#errorMsg {
  font-family: 'VT323', sans-serif;
}

/* Button Styling */

.buttons {
  background-color: #616161;
  width: 100%;
  height: 325px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  width: 50px;
  height: 50px;
  background-color: #BDBDBD;
  color: black;
  border: none;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
  font-size: 1.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

button#allclear {
  background-color: #FF5722;
  color: white;
}

button#zero,
button#allclear {
  width: 115px;
}

button#one,
button#two,
button#three {
  position: relative;
  left: -32px;
}

button#equals {
  height: 110px;
  position: relative;
  top: -60px;
  left: -1px;
  background-color: #212121;
  color: white;
}

button#zero,
button#decimal {
  position: relative;
  top: -30px;
}

.operator {
  background-color: #9E9E9E;
  color: black;
}

.header {
  font-family: 'Coming Soon', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 4em;
  margin: 35px;
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
}

.description {
  font-family: 'Overpass Mono', sans-serif;
  line-height: 30px;
  text-align: justify;
  background-color: #212121;
  color: white;
  box-shadow: 0 4px 5px rgba(0,0,0,0.5);
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.description a {
  text-decoration: none;
  color: #B2FF59;
  transition: color 0.5s ease;
}

.description a:hover {
  color: #9E9E9E;
}

.social {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}


@media (max-width: 450px) {
  .header {
    font-size: 3em;
  }

  .description {
    line-height: 15px;
  }
}

@media (min-width: 975px) {
  .app {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }

  .description {
    margin: 0;
    width: 600px;
    padding: 30px;
    border-radius: 5px;
  }

  .calculator {
    margin: 0;
  }
}
